body {
  font-family: Arial;
  padding: 20px;
}
nav a {
  margin-right: 10px;
}
table, td, th {
  border: 1px solid #333;
  border-collapse: collapse;
  padding: 5px;
}
table {
  width: 100%;
  margin-top: 10px;
}

th {
  background: #f0f0f0;
  text-align: center;
}

td {
  text-align: center;
}
