body {
    background-color: #f8f9fa;
}

.card {
    border-radius: 12px;
}

input, select, textarea {
    font-size: 16px;
}

.btn {
    font-size: 16px;
}

@media (max-width: 768px) {
    .btn {
        padding: 14px !important;
        font-size: 18px;
    }
}

