<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<style>
@page {
  size: 50mm 30mm;
  margin: 0;
}
body {
  width: 50mm;
  height: 30mm;
  margin: 0;
  font-family: Arial, sans-serif;
}
.box {
  display: flex;
  height: 100%;
}
.qr {
  width: 18mm;
}
.qr img {
  width: 18mm;
  height: 18mm;
}
.info {
  font-size: 7px;
  line-height: 1.2;
  margin-left: 2mm;
}
.code {
  font-size: 9px;
  font-weight: bold;
}
</style>
</head>
<body>
<div class="box">
  <div class="qr">
    <img src="{{ qr_url }}">
  </div>
  <div class="info">
    <div class="code">{{ item_code }}</div>
    <div>LOT {{ lot_no }}</div>
    <div>{{ spec }}</div>
    <div>QTY {{ qty }}</div>
    <div>{{ location }}</div>
  </div>
</div>
</body>
</html>
