<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>QR Label</title>
<style>
@page {
    size: 70mm 40mm;
    margin: 0;
}
body {
    width: 70mm;
    height: 40mm;
    margin: 0;
    font-family: Arial, sans-serif;
}
.label {
    display: flex;
    padding: 2mm;
}
.qr img {
    width: 28mm;
    height: 28mm;
}
.info {
    margin-left: 3mm;
    font-size: 8pt;
    line-height: 1.4;
}
</style>
</head>
<body>
<div class="label">
    <div class="qr">
        <img src="{{ qr_url }}">
    </div>
    <div class="info">
        <div><b>ITEM</b>: {{ item_code }}</div>
        <div><b>LOT</b>: {{ lot_no }}</div>
        <div><b>WH</b>: {{ warehouse }}</div>
        <div><b>LOC</b>: {{ location }}</div>
        <div><b>QTY</b>: {{ qty }}</div>
    </div>
</div>
</body>
</html>
